* {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2"),
    url("../fonts/ptsans-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2"),
    url("../fonts/ptsans-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Firfirasans-400.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/firasans-700.ttf") format("ttf");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-info {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.text-italic {
  font-style: italic;
}

.text-danger {
  color: #EE3643;
}

.text-help {
  color: #32425C;
}

.text-light {
  color: #fff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-top {
  background-color: #F3F7F9;
}

.header-top-container {
  padding-top: 14px;
  padding-bottom: 13px;
  display: flex;
  justify-content: space-between;
}

.header-contact {
  display: flex;
  align-items: center;
}

.header-top-link {
  text-decoration: none;
  margin-left: 32px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #293449;
}

.header-top-link-icon {
  margin-right: 8px;
  flex-shrink: 0;
}

.header-search {
  background-color: #293449;
}

.logo {
  background-color: #EE3643;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  width: 220px;
  height: 50px;
  border-bottom: 5px inset rgba(0, 0, 0, .24);
  flex-shrink: 0;
  margin-right: 20px;
  margin-bottom: -5px;
}

.header-search-container {
  display: flex;
  align-items: center;
}

.header-search-box {
  flex-grow: 1;
  margin-right: 20px;
}

.search {
  position: relative;
}

.search-button {
  padding: 0;
  border: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
}

.search-input {
  height: 44px;
  background-color: transparent;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 32px;
  width: 100%;
}

.search-button {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
}

.search-input::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.enter {
  border: 0;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.enter-icon {
  margin-right: 10px;
  flex-shrink: 0;
}

.header-nav {
  background-color: #3D546F;
}

.header-nav-container {
  padding-top: 12px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
}

.nav {
  flex-grow: 1;
}

.nav-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 50px;
}

.nav-link {
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.header-controls {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header-controls-button {
  border: 0;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  background-color: transparent;
  margin-right: 25px;
}

.header-controls-icon {
  flex-shrink: 0;
}

.button {
  border: 0;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid transparent;
  white-space: nowrap;
}

.button-primary {
  color: #FFFFFF;
  background-color: #63A63E;
}

.button-primary:hover {
  background-color: #5FBB2D;
}

.button-primary:active {
  background-color: #518534;
}

.button-primary-outline {
  border: 1px solid #63A63E;
  background-color: #fff;
  color: #000;
}

.button-medium {
  padding: 10px 8px;
}

.button-large {
  padding: 11px 21px;
}

.button-secondary {
  color: #FFFFFF;
  background-color: #EE3643;
}

.button-secondary:hover {
  background-color: #CA2C37;
}

.button-secondary:active {
  background-color: #BA2732;
}

.gallery {
  overflow: hidden;
  position: relative;
}

.gallery-button {
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(41 52 73 / 60%);
  cursor: pointer;
  z-index: 1;
}

.gallery-button-prev {
  left: 20px;
}

.gallery-button-next {
  right: 20px;
}

.gallery-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 22px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.gallery-pagination-item {
  width: 8px;
  height: 8px;
  border: 0;
  padding: 0;
  background-color: #FFD180;
  cursor: pointer;
  border-radius: 50%;
}

.gallery-pagination-item:not(:last-child) {
  margin-right: 8px;
}

.gallery-pagination-item.active {
  background-color: #FFFFFF;
}

.gallery-wrap {
  display: flex;
  height: 100%;
}

.gallery-slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.gallery-slide-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 53px 51px;
  font-family: 'Fira Sans', Arial, sans-serif;
}

.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 10px;
}

.gallery-detail {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.gallery-slide-pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-link {
  position: absolute;
  left: 51px;
  bottom: 48px;
}

.catalog {
  padding-top: 50px;
  padding-bottom: 50px;
}

.catalog-list,
.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.catalog-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.catalog-list:after {
  content: ' ';
  grid-column: 1/3;
  grid-row: 2/-1;
}

.card {
  padding: 20px 130px 33px 25px;
  position: relative;
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.card-yellow {
  background-color: #FFBF47;
}

.card-blue {
  background-color: #3BBCE3;
}

.card-pink {
  background-color: #DC91D8;
}

.card-green {
  background-color: #8ED78F;
}

.card-pic {
  position: absolute;
  top: 45px;
  right: 37px;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 57px;
  text-transform: uppercase;
}

.card-more {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  letter-spacing: 2px;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 18px;
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
}

.card-icon {
  flex-shrink: 0;
  margin-right: 5px;
}

.catalog .gallery {
  grid-column: 1/3;
  grid-row: 2/-1;
}

.new {
  position: relative;
}

.new:after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  pointer-events: none;
  background: url(../images/catalog/new.svg) top right;
}

.goods-grid {
  display: flex;
  align-items: flex-start;
}

.goods-aside {
  width: 246px;
  margin-right: 52px;
  padding-right: 26px;
  flex-shrink: 0;
  height: 400px;
}

.goods-content {
  flex-grow: 1;
}

.goods-filter-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
  padding: 0px;
}

.goods-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.goods-list-item {
  width: 33.333%;
  padding-left: 15px;
  padding-right: 15px;
}

.good {
  padding: 27px 27px 25px 27px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.good-top {
  position: relative;
  margin-bottom: 14px;
  flex-shrink: 0;
}

.good-bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.good-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .9);
  padding: 16px 45px;
  opacity: 0;
  visibility: hidden;
}

.good:hover .good-nav {
  opacity: 1;
  visibility: visible;
}

.good-button:not(:last-child) {
  margin-bottom: 10px;
}

.good-pic {
  width: 216px;
  height: 180px;
  display: block;
  object-fit: contain;
}

.good-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #293449;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 11px;
  text-decoration: none;
}

.good-old-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #A9A9A9;
  margin-bottom: 9px;
}

.good-price {
  text-align: center;
  overflow: hidden;
  padding-right: 13px;
  margin-top: auto;
}

.good-price-button {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  border-radius: 4px 0 0 4px;
  height: 40px;
  isolation: isolate;
}

.good-price-button:after {
  content: ' ';
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: inherit;
  border-radius: 4px;
  top: -1px;
  right: -13px;
  transform: rotate(45deg);
  z-index: -1;
}

.form-label {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  display: block;
  text-transform: uppercase;
  margin-top: 30px;
}

.form-price {
  display: flex;
}

.form-price-title {
  color: #293449;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  margin-inline: 12px;
}

.slider {
  padding: 20px 20px;
  background-color: #F7F3EC;
  position: relative;
  border-radius: 4px;
}

.form-price-field {
  height: 40px;
  width: 95px;
  box-sizing: border-box;
  background-color: #F7F3EC;
  border: 0;
  text-align: center;
  margin-top: 6px;
}

.form-price-field::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #293449;
}

.slider-track {
  background-color: #3D546F;
  height: 2px;
  position: relative;
}

.slider-track-active {
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #5FBB2D;
}

.slider-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  border: 2px solid #3D546F;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  margin-top: -10px;
}


.control{
  display: flex;
  align-items: center;
}

.control-input{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.control-input:checked ~ .control-checkbox:not(.control-radio){
  background: #fff url(../images/catalog/checker.svg) no-repeat left 4px center;
}

.control-checkbox{
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 2px;
  border: 2px solid #3D546F;
  background-color: #fff;
  cursor: pointer;
  margin-right: 15px;
}

.control:hover{
  opacity: .6;
}

.control:active{
  opacity: .2;
}

.control-input:disabled ~ .control-checkbox{
  opacity: .5;
}

.control-radio{
  border-radius: 50%;
  background-color: #3D546F;
  box-shadow: inset 0 0 0 20px #fff;
}

.control-input:checked ~ .control-radio{
  box-shadow: inset 0 0 0 5px #fff;
}
